:root {
    --p-font-size: 16px;
    --h2-font-size: 1.5rem;
    --p-font-weight: 400;
    --container-font-family: 'Lato', sans-serif;
}

.title-container,
.projects-container {
    font-family: var(--container-font-family);
}

/* Title */
.title-text {
    font-size: 50px;
    margin: 0 0 15px 30px;
    text-align: left;
}

/* Projects container */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 40px;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

/* Project card */
.project-card {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 20px;
    border-radius: 7%;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    gap: 10px;
    justify-content: space-between;
}

/* Project title */
.project-title {
    text-align: center;
    font-weight: 800;
    font-size: var(--h2-font-size);
    margin: 0;
    min-height: 2rem;
    font-family: var(--container-font-family);
}

/* Images */
.project-image {
    height: 190px;
    width: 325px;
    border-radius: 5px;
    transition: transform 0.2s;
}

.project-image:hover {
    transform: scale(1.03);
}

/* Text inside project card */
.project-text {
    font-family: var(--container-font-family);
    margin: 10px 0 0 0;
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
}

/* Buttons */
.project-button {
    background: #6fa3d8;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.8rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
}

.project-button:hover {
    background: #5b8ac4;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.seeAll {
    width: 50%;
    height: 50px;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--buttonHoverColor);


    display: flex;
    align-items: center;
    justify-content: center;
}

.seeAll p {
    color: white;
    font-family: var(--container-font-family);
}

.seeAll:hover {
    background: #6fa3d8;

}

.projects-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 50px;


}