:root {
  --bodyBackgroundColor: #f9feff;
  --fontColor: #111827;
  --secFontColor: #4B5563;
  --primaryColor: rgba(86, 157, 250, 0.701);
  --divsBackgroundColor: #eaf6ff;

  --primaryFont: 'Georgia', sans-serif;



  --darkerSpecial: color-mix(in srgb, var(--primaryColor) 80%, black 20%);
  --lighterSpecial: color-mix(in srgb, var(--primaryColor) 60%, white 40%);

  --buttonBorderColor: var(--darkerSpecial);
  --buttonBackgroundColor: color-mix(in srgb, var(--primaryColor) 50%, white 50%);
  --buttonHoverColor: var(--primaryColor);


  --divsBorder: 0px solid var(--lighterSpecial);
  --divsShadow: 0 0 4px rgba(144, 144, 144, 0.5);

  --caretColor: black;
  --caretHoverColor: var(--primaryColor);


  --skillsBorder: 3px solid var(--divsBackgroundColor);
  --skillsShadow: 0px 0px 0px var(--lighterSpecial);
  --skillsBackgroundColor: white;

  --linkColor: var(--darkerSpecial);


}




body {
  /*For displaying the projects, make that when click the images, it loads a carrousel with the projects that i made in that. */
  /*the caroussel is just below the images and when click, goto caroussel*/
  background-color: var(--bodyBackgroundColor);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {

  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

h1,
h2,
p,
h3 {
  font-family: var(--primaryFont);
  color: var(--fontColor);
}



#profile_pic {
  display: flex;
  width: 280px;
  height: auto;
  border-radius: 20px;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


.button-container button {
  font-size: x-large;
  text-align: center;
  background-color: var(--buttonBackgroundColor);
  color: black;
  border-radius: 8px;
  padding: 5%;
  white-space: nowrap;
  border-color: var(--buttonBorderColor);
  transition: all 0.3s ease;

}


.button-container button:hover {

  background-color: var(--buttonHoverColor);
  border-color: var(--primaryColor);
  transform: translateY(-2px);


}

.experienceLabel {
  /*specifies the label for the programming experience*/
  margin-top: 80px;
  padding: 0.2rem 1rem;
  width: fit-content;
  margin-bottom: 50px;


}


.images {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 20px 30px;
  /* spacing between images */
  max-width: 800px;
  margin-bottom: 50px;

}

.icon-wrapper {
  width: 130px;
  /* slightly smaller for a sleek look */
  height: 130px;
  background-color: var(--skillsBackgroundColor);
  /* circle background */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-shadow: var(--skillsShadow);
  border: var(--skillsBorder);
  /* subtle shadow for depth */
  transition: transform 0.2s ease;
}

.icon-wrapper img {
  width: 70%;
  /* image scales nicely inside circle */
  height: auto;
}

.icon-wrapper:hover {
  transform: translateY(-4px);
  /* subtle lift on hover */

}





.imageCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  margin-bottom: 50px;
  /* center everything horizontally */
}



.contentArrows {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  font-size: 60px;



}

#imageContainer {
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

#imageContainer img {

  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



.arrow {
  font-size: 200px;
  transition: all 0.4s ease;
  cursor: pointer;
  color: var(--caretColor);


}

.arrow:hover {

  color: var(--caretHoverColor);
}

.arrow:nth-child(3):hover {
  transform: translateX(5px);
}

.arrow:nth-child(1):hover {
  transform: translateX(-5px);
}


#desc {
  /* this one is text*/
  width: 800px;
  /* same as container */
  text-align: center;
  /* push text to the end */

  justify-self: center;
  margin-top: 10px;
}


.AB {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}

.AB h2 {
  /* this one is text*/
  text-align: center;
  width: 80%;
  font-style: san;
  line-height: 50px;

}



.contact_info {
  /* Use Flexbox to arrange child elements in a row */
  /* Stack items vertically */
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 10px 75px;
}

.contact_info a {

  color: var(--linkColor)
}

.back {

  background-color: var(--divsBackgroundColor);
  border-radius: 50px;
  box-shadow: var(--divsShadow);
  border: var(--divsBorder);

}